.checkbox-wrapp {
    display: flex;
    flex-direction: column;
    margin-top: 24px;

    @include responsive(mobile) {
        margin-top: 40px;
    }

    label {
        display: flex;
    }
    
    
    label, a {
        font-size: 14px;
        line-height: 18px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: rgba(0, 0, 0, 0.64);

        @include responsive(mobile) {
            font-size: 12px;
            line-height: 130%;
        }
    }
    

    label:last-child {
        margin-top: 16px;
    }

    .cb-text {
        margin-left: 10px;
    }
}