.pluses {
  width: 100%;
  margin-top: 102px;

  @include responsive(mobile) {
    margin-top: 52px;
  }

  &-title {
    width: 800px;
    font-size: 56px;
    font-weight: 400;
    line-height: 110%;
    font-feature-settings: 'pnum' on, 'lnum' on;

    @include responsive(mobile) {
      width: 100%;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -1.90204px;
    }
  }

  &__inner {
    width: 100%;
    margin-top: 57px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @include responsive(mobile) {
      margin-top: 24px;
      flex-direction: column;
    }
  }

  &__int-platform {
    width: 660px;
    height: 550px;
    padding: 32px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 16px;
    color: #000;
    position: relative;

    @include responsive(mobile) {
      width: 100%;
      max-width: 660px;
      height: 394px;
      padding: 16px 24px;
      padding-bottom: 0;
      border-radius: 8px;
    }

    h3 {
      font-size: 36px;
      font-weight: 400;
      line-height: 38px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      @include responsive(mobile) {
        font-size: 26px;
        line-height: 120%;
      }
    }

    p {
      width: 545px;
      margin-top: 12px;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: -0.1px;
      font-feature-settings: 'pnum' on, 'lnum' on;

      @include responsive(mobile) {
        width: 100%;
        margin-top: 8px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.0728571px;
      }
    }


  }

  #our_pluses-img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @include responsive(mobile) {
      width: 90%;
    }
  }

  &__inner-right {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    position: relative;

    @include responsive(1176px) {
      margin-top: 110px;
    }

    @include responsive(mobile) {
      width: 100%;
      margin-left: 0;
      margin-top: 112px;
      align-items: center;
    }
  }

  &__card_first {
    width: 360px;
    height: 188px;
    margin-top: -66px;
    padding: 25px;
    border: 10px solid #FFFFFF;
    border-radius: 16px;
    transform: rotate(-5deg);
    position: relative;

    @include responsive(mobile) {
      width: 100%;
      min-width: 288px;
      height: 156px;
    }

    p {
       font-size: 24px;
       line-height: 130%;
       font-feature-settings: 'pnum' on, 'lnum' on;
       color: #FFFFFF;

      @include responsive(mobile) {
        font-size: 18px;
        line-height: 130%;
      }
     }
  }

  #heat-img {
    position: absolute;
    left: 186px;
    bottom: -84px;

    @include responsive(mobile) {
      left: 107px;
      bottom: -82px;
      transform: rotate(5deg);
    }
  }

  &__card {
    width: 360px;
    height: 178px;
    margin-top: 24px;
    padding: 24px;
    padding-bottom: 32px;
    border-radius: 16px;
    background-color: #fff;
    color: #04121B;

    @include responsive(mobile) {
      width: 100%;
      min-width: 288px;
      height: 145px;
      margin-top: 15px;
      padding-top: 16px;
      padding-bottom: 24px;
      border-radius: 8px;
    }

    h4 {
      font-size: 32px;
      line-height: 110%;
      font-weight: 400;
      font-feature-settings: 'pnum' on, 'lnum' on;

      @include responsive(mobile) {
        font-size: 26px;
        line-height: 120%;
      }
    }

    p {
      margin-top: 16px;
      font-size: 18px;
      line-height: 130%;
      font-feature-settings: 'pnum' on, 'lnum' on;

      @include responsive(mobile) {
        width: 102%;
        margin-top: 8px;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.0728571px;
      }
    }
  }

  &__card:nth-child(2) {
    margin-top: 57px;

    @include responsive(mobile) {
      margin-top: 48px;
    }
  }
}

.pluses-btn {
  width: 361px;
  height: 48px;
  margin-top: 40px;
  background: #FB8023;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.05px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  cursor: pointer;

  @include responsive(mobile) {
    width: 100%;
    min-width: 288px;
    height: 60px;
    margin-top: 24px;
    line-height: 34px;
    font-feature-settings: 'pnum' on, 'lnum' on, 'case' on, 'liga' off;
  }
}

#pose-img {
  position: absolute;
  left: -376px;
  bottom: -144px;

  @include responsive(mobile) {
    left: auto;
    right: -5%;
    bottom: auto;
  }
}
