#uk-img {
  left: 77px;
  bottom: -8px;
}

#plus-img {
  top: -4px;
  right: -18px;
}

#pen-img {
  left: 77px;
  bottom: -10px;
}

#magnet-img {
  top: -5px;
  left: 115px;
}

#shake-img {
  bottom: -10px;
  left: 116px;
}

#chess-img {
  bottom: -6px;
  left: 143px;
}

#heards-img {
  position: absolute;
  top: -96px;
  left: 22px;
}